.d{
    padding-bottom: 20px;
}

a{
    position: relative;
    padding: 33px;
    text-decoration: none;
    color: white;
    transition: color 0.3s ease, background-color 0.3s ease;
    
    top: 10px;
    margin: 0 auto;
}

#a1{
    
    background-color: black;
    top: 10px;
    text-align: center;
}

#a1 a:hover{
    position: relative;
    background-color: white;
    color: black;
    
}



#img1{
    position: relative;
    width: 450px;
    height: 120px;
}

#img2{
    position: relative;
    width: 150px;
    top: -10px;
}

#img3{
    position: relative;
    width: 60px;
    border-radius: 100%;
    float: right;
    top: 70px;
}

.col-md-8{
    top: 20px;
    position: relative;
}

.col-md-4{
    top: 20px;
    position: relative;
}

#p1{
    background-color: gray;
    position: relative;
    text-align: center;
    height: 150px;
}


