.d1 {
    position: relative;
    background-color: green;
    color: white;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.d1 {
    display: flex;
}

.menu {
    flex: 1;
}

.menu a {
    position: relative;
    display: block;
    padding: 15px;
    text-decoration: none;
    color: white;
}

.menu a:hover {
    background-color: greenyellow;
    color: #000;
}


.submenu {
    display: none;
    position: absolute;
    background-color: greenyellow;
    z-index: 1;
    width: 396px;
}

.menu:hover .submenu {
    display: block;
}

.submenu a {
    display: block;
    padding: 10px;
    color: #000;
    text-decoration: none;
}

.submenu a:hover {
    background-color: greenyellow;
}