
.container {
    width: 100%;
  }
  
  .col {
    display: flex; 
    flex-direction: column; 
    padding: 15px; 
  }
  
  @media (min-width: 768px) {
    .col-md-1 {
      width: 8.333333%;
    }
    .col-md-2 {
      width: 16.666667%;
    }
    .col-md-3 {
      width: 25%;
    }
    .col-md-4 {
      width: 33.333333%;
    }
    .col-md-5 {
      width: 41.666667%;
    }
    .col-md-6 {
      width: 50%;
    }
    .col-md-7 {
      width: 58.333333%;
    }
    .col-md-8 {
      width: 66.666667%;
    }
    .col-md-9 {
      width: 75%;
    }
    .col-md-10 {
      width: 83.333333%;
    }
    .col-md-11 {
      width: 91.666667%;
    }
    .col-md-12 {
      width: 100%;
    }
  }
  
  .col-md-6,
  .col-md-4,
  .col-md-3,
  .col-md-8,
  .col-md-7,
  .col-md-2 {
    background-color: plum;
    border: 1px solid #ddd;
    padding: 10px;
  }
  
  .row p {
    color: #fff;
    padding: 10px;
    margin: 0;
    text-align: center;
  }
  
