.col-blue {
    background-color: blue;
    color: white; 
    border-radius: 10px;
}

.col-light-blue {
    background-color: lightblue;
    border: 1px solid rgb(122, 13, 255);
    border-radius: 10px;
}

.container{
    background-color: rgb(0, 200, 255);
    border-radius: 10px;
    text-align: center;
}


.row{
    background-color: rgb(0, 200, 255);
}


